In [18]:
import pandas as pd
import numpy as ny

In [26]:
filename = "/home/moginh/Projects/BConv/BConv.sim/sim_1/behav/xsim/rbu_results.csv"
df = pd.read_csv(filename)

In [27]:
# Disable scientific notation for all floats/integers
pd.set_option('display.precision', 0)  # no decimal places
pd.set_option('display.float_format', '{:.0f}'.format)

In [28]:
df.head()

,Test_No,q,mu,A0,A1,C,B0,B1,M
0,1,281474976317441,281474977103871,303379748,281473912364672,308591034,0,0,0
1,2,140737518764033,562949831786518,140735386277384,140736148297314,258283196,0,0,281473912364672
2,3,140737470791681,562950023675908,112818957,1189058957,3450204723,281474215744420,1367332517,140736148297314
3,4,140737513783297,562949851709454,140736167052388,140735470064145,132010366,140735386277384,140735386277384,1189058957
4,5,140737471578113,562950020530179,15983361,114806029,24652872,x,x,140735470064145

In [30]:
def safe_MMA(row):
    return ((int(row['A1']) * int(row['C'])) + int(row['A0'])) % int(row['q'])

df['Expected_M'] = df.apply(safe_MMA, axis=1)
df.head(20)

,Test_No,q,mu,A0,A1,C,B0,B1,M,Expected_M
0,1,281474976317441,281474977103871,303379748,281473912364672,308591034,0,0,0,155012552960249
1,2,140737518764033,562949831786518,140735386277384,140736148297314,258283196,0,0,281473912364672,127070882866455
2,3,140737470791681,562950023675908,112818957,1189058957,3450204723,281474215744420,1367332517,140736148297314,140293372963399
3,4,140737513783297,562949851709454,140736167052388,140735470064145,132010366,140735386277384,140735386277384,1189058957,1699319119808
4,5,140737471578113,562950020530179,15983361,114806029,24652872,x,x,140735470064145,15548922186389
5,6,140737513259009,562949853806605,992211318,512609597,2149973480,x,x,114806029,122311317658408
6,7,140737471971329,562950018957315,1993627629,1177417612,433322714,x,x,512609597,28461240798972
7,8,140737509851137,562949867438089,2097015289,140736983934149,3652096167,x,x,1177417612,86120510348069
8,9,140737480359937,562949985402877,140737025246402,140736792220327,764201214,x,x,140736983934149,58838286484494
9,10,140737509457921,562949869010952,1924134885,140736323416694,5689591879,x,x,140736792220327,132309623593381
10,11,140737481801729,562949979635709,140735514859023,1206705039,813567193,x,x,140736323416694,91693824183046
11,12,140737508671489,562949872156679,2033215986,140737056380621,846283951,x,x,1206705039,39522847406598
12,13,140737482981377,562949974917116,140737303182053,140737014419138,5271487345,140735514859023,140735514859023,140737056380621,63650392982948
13,14,140737506705409,562949880020997,777537884,140736908896444,976461618,14276774124998,126464760346141,140737014419138,41669372769046
14,15,140737483898881,562949971247100,140735734569002,140736204056162,777278361,127072835553780,13664287828949,140736908896444,79220969756351
15,16,140737504608257,562949888409603,140736162390626,91457290,4219480308,140294037682326,445024098851,140736204056162,140732704595252
16,17,140737484685313,562949968101372,140736429499005,274997536,731601384,1698916520838,139035068718285,91457290,74711263691239
17,18,140737499496449,562949908856831,1433945514,140736651775132,4955719319,15547563985397,125187256187598,274997536,86191117421490
18,19,140737485864961,562949963382780,140736608747155,140735507970064,2624635693,122309270260782,18426104051915,140736651775132,130096554939980
19,20,140737493729281,562949931925500,140735448496140,140736034362962,2889449562,28460681116857,112279686270620,140735507970064,11413839381903

In [15]:
def safe_mod_add(row):
    return (int(row['A0']) + int(row['A1'])) % int(row['q'])

df['Expected_BO'] = df.apply(safe_mod_add, axis=1)

In [16]:
df.head()

,Test_No,q,mu,A0,A1,C,B0,B1,M,Expected_M,Expected_BO
0,1,281474976317441,281474977103871,303379748,281473912364672,308591034,0,0,0,281474215744420,281474215744420
1,2,140737518764033,562949831786518,140735386277384,140736148297314,258283196,0,0,0,140734015810665,140734015810665
2,3,140737470791681,562950023675908,112818957,1189058957,3450204723,281474215744420,1367332517,x,1301877914,1301877914
3,4,140737513783297,562949851709454,140736167052388,140735470064145,132010366,140734015810665,140736756744103,x,140734123333236,140734123333236
4,5,140737471578113,562950020530179,15983361,114806029,24652872,1301877914,140736394551681,x,130789390,130789390

In [17]:
def safe_mod_sub(row):
    return (int(row['A0']) - int(row['A1'])) % int(row['q'])

df['Expected_B1'] = df.apply(safe_mod_sub, axis=1)
df.head(6)

,Test_No,q,mu,A0,A1,C,B0,B1,M,Expected_M,Expected_BO,Expected_B1
0,1,281474976317441,281474977103871,303379748,281473912364672,308591034,0,0,0,281474215744420,281474215744420,1367332517
1,2,140737518764033,562949831786518,140735386277384,140736148297314,258283196,0,0,0,140734015810665,140734015810665,140736756744103
2,3,140737470791681,562950023675908,112818957,1189058957,3450204723,281474215744420,1367332517,x,1301877914,1301877914,140736394551681
3,4,140737513783297,562949851709454,140736167052388,140735470064145,132010366,140734015810665,140736756744103,x,140734123333236,140734123333236,696988243
4,5,140737471578113,562950020530179,15983361,114806029,24652872,1301877914,140736394551681,x,130789390,130789390,140737372755445
5,6,140737513259009,562949853806605,992211318,512609597,2149973480,140734123333236,696988243,x,1504820915,1504820915,479601721

In [23]:
def safe_MSM(row):
    return (int(row['A0']) - int(row['A1'])) * int(row['C']) % int(row['q'])

df['Expected_M'] = df.apply(safe_MSM, axis=1)
df.head(20)

,Test_No,q,mu,A0,A1,C,B0,B1,M,Expected_M
0,1,281474976317441,281474977103871,303379748,281473912364672,308591034,0,0,0,15565743008519
1,2,140737518764033,562949831786518,140735386277384,140736148297314,258283196,0,0,0,74845814785887
2,3,140737470791681,562950023675908,112818957,1189058957,3450204723,281474215744420,1367332517,x,109835756983185
3,4,140737513783297,562949851709454,140736167052388,140735470064145,132010366,140734015810665,140736756744103,x,108076555633997
4,5,140737471578113,562950020530179,15983361,114806029,24652872,1301877914,140736394551681,x,97011903503538
5,6,140737513259009,562949853806605,992211318,512609597,2149973480,140734123333236,696988243,x,87958976859146
6,7,140737471971329,562950018957315,1993627629,1177417612,433322714,130789390,140737372755445,x,9072696476361
7,8,140737509851137,562949867438089,2097015289,140736983934149,3652096167,1504820915,479601721,x,43044624493491
8,9,140737480359937,562949985402877,140737025246402,140736792220327,764201214,3171045241,816210017,x,45896753334745
9,10,140737509457921,562949869010952,1924134885,140736323416694,5689591879,1571098301,2622932277,x,1997403297513
10,11,140737481801729,562949979635709,140735514859023,1206705039,813567193,140736337106792,233026075,0,134891145892178
11,12,140737508671489,562949872156679,2033215986,140737056380621,846283951,738093658,3110176112,155012249580501,122493545297049
12,13,140737482981377,562949974917116,140737303182053,140737014419138,5271487345,140736721564062,140734308153984,0,134173684218420
13,14,140737506705409,562949880020997,777537884,140736908896444,976461618,1580925118,2485506854,15565743008519,56120502729004
14,15,140737483898881,562949971247100,140735734569002,140736204056162,777278361,140736834619814,288762915,74845814785887,10085514453673
15,16,140737504608257,562949888409603,140736162390626,91457290,4219480308,179728919,1375346849,109835756983185,97800848363220
16,17,140737484685313,562949968101372,140736429499005,274997536,731601384,140734454726283,140737014411721,108076555633997,35365354099299
17,18,140737499496449,562949908856831,1433945514,140736651775132,4955719319,140736253847916,140736070933336,97011903503538,27471865006082
18,19,140737485864961,562949963382780,140736608747155,140735507970064,2624635693,140736704496541,140736154501469,87958976859146,79733239389655
19,20,140737493729281,562949931925500,140735448496140,140736034362962,2889449562,586224197,2281666831,9072696476361,98679851289185

In [25]:
df['Expected_delayed'] = df['Expected_M'].shift(13)
df

,Test_No,q,mu,A0,A1,C,B0,B1,M,Expected_M,Expected_delayed
0,1,281474976317441,281474977103871,303379748,281473912364672,308591034,0,0,0,15565743008519,NaN
1,2,140737518764033,562949831786518,140735386277384,140736148297314,258283196,0,0,0,74845814785887,NaN
2,3,140737470791681,562950023675908,112818957,1189058957,3450204723,281474215744420,1367332517,x,109835756983185,NaN
3,4,140737513783297,562949851709454,140736167052388,140735470064145,132010366,140734015810665,140736756744103,x,108076555633997,NaN
4,5,140737471578113,562950020530179,15983361,114806029,24652872,1301877914,140736394551681,x,97011903503538,NaN
5,6,140737513259009,562949853806605,992211318,512609597,2149973480,140734123333236,696988243,x,87958976859146,NaN
6,7,140737471971329,562950018957315,1993627629,1177417612,433322714,130789390,140737372755445,x,9072696476361,NaN
7,8,140737509851137,562949867438089,2097015289,140736983934149,3652096167,1504820915,479601721,x,43044624493491,NaN
8,9,140737480359937,562949985402877,140737025246402,140736792220327,764201214,3171045241,816210017,x,45896753334745,NaN
9,10,140737509457921,562949869010952,1924134885,140736323416694,5689591879,1571098301,2622932277,x,1997403297513,NaN
10,11,140737481801729,562949979635709,140735514859023,1206705039,813567193,140736337106792,233026075,0,134891145892178,NaN
11,12,140737508671489,562949872156679,2033215986,140737056380621,846283951,738093658,3110176112,155012249580501,122493545297049,NaN
12,13,140737482981377,562949974917116,140737303182053,140737014419138,5271487345,140736721564062,140734308153984,0,134173684218420,NaN
13,14,140737506705409,562949880020997,777537884,140736908896444,976461618,1580925118,2485506854,15565743008519,56120502729004,15565743008519
14,15,140737483898881,562949971247100,140735734569002,140736204056162,777278361,140736834619814,288762915,74845814785887,10085514453673,74845814785887
15,16,140737504608257,562949888409603,140736162390626,91457290,4219480308,179728919,1375346849,109835756983185,97800848363220,109835756983185
16,17,140737484685313,562949968101372,140736429499005,274997536,731601384,140734454726283,140737014411721,108076555633997,35365354099299,108076555633997
17,18,140737499496449,562949908856831,1433945514,140736651775132,4955719319,140736253847916,140736070933336,97011903503538,27471865006082,97011903503538
18,19,140737485864961,562949963382780,140736608747155,140735507970064,2624635693,140736704496541,140736154501469,87958976859146,79733239389655,87958976859146
19,20,140737493729281,562949931925500,140735448496140,140736034362962,2889449562,586224197,2281666831,9072696476361,98679851289185,9072696476361
20,21,140737486520321,562949960761340,899669355,140737135651538,1385626782,140734630852258,1100777091,43044624493491,19201887019764,43044624493491
21,22,140737490976769,562949942935548,140735356553729,140736803520173,1180662927,140733989129821,140736907862459,45896753334745,32765923177303,45896753334745
22,23,140737487306753,562949957615612,251652381,140737085010636,1374407730,548800572,1250538138,1997403297513,42276732164882,1997403297513
23,24,140737488486401,562949952897020,293882147,84501770,326170516,140734669097133,140736044010325,134891145892178,36023690460047,134891145892178
24,25,281474975662081,281474977759231,281474532313801,281473336822843,8397263039,140737336663017,653948498,122493545297049,47028083982497,122493545297049
25,26,281474974482433,281474978938879,2036907506,1160667530,1902705956,378383917,209380377,134173684218420,50747361046397,134173684218420
26,27,281474966880257,281474986541055,549761857,281474655925463,6590153662,281472893474563,1195490958,56120502729004,252931927967155,56120502729004
27,28,281474962554881,281474990866431,1008792440,281473993282184,4642077150,3197575036,876239976,10085514453673,54745213991568,10085514453673
28,29,281474960326657,281474993094655,1975848427,1526883766,4147861211,238807063,860716651,97800848363220,4764950501759,97800848363220
29,30,281474957180929,281474996240384,1665923526,1460999086,1758436513,39519743,1978065137,35365354099299,58672510488600,35365354099299
30,31,281474955476993,281474997944320,281474435187387,353361194,4433433839,3502732193,448964661,27471865006082,103842129479473,27471865006082
31,32,281474952462337,281475000958977,281472951491082,281473802944112,2510658626,3126922612,204924440,79733239389655,94369548112735,79733239389655